name = "cloudflare-auth-system"
main = "src/index.js"
compatibility_date = "2024-01-01"

#[[d1_databases]]
#binding = "db"			#d1数据库绑定名默认不可修改
#database_name = ""		#d1数据库名字
#database_id = ""		#d1数据库id

#[[kv_namespaces]]
#binding = "kv"			#kv绑定名默认不可修改
#id = ""					#kv数据库id

